{% extends 'gl_base.html' %}

{% block content %}
<head>
</head>
<body>
<div class="container mt-5">
  <table
    id="datatable"
    class="table table-striped" style="width:100%">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Editeur</th>
        <th>Plateforme</th>
        <th>Année de sortie</th>
        <th>Dernier lancement</th>
        <th>Dernière modification</th>
      </tr>
    </thead>
    <tbody>
    {% for game in game_list %}
    <tr>
      <td><p class="card-text"><a href="{% url 'steamlist:game-detail' game.id %}">{{game.name}}</td>
      <td>{{game.publisher}}</td>
      <td>{{game.platform}}</td>
      <td>{{game.release_year}}</td>
      <td>{{game.last_played|date:'Y/m/d'}}</td>
      <td>{{game.update_date|date:'Y/m/d'}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</body>
{% endblock %}