{% extends 'gl_base.html' %}

{% block content %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- script src=" https://cdn.jsdelivr.net/npm/chart.js@~4.1.1"></script>
    <script src="../build/index.umd.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/d3-random@latest/dist/d3-random.min.js"></script>
    <script src="./utils.js"></script-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="dropdown" align="left">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
      Year Selection
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      {% for date in dt_selection %}
      <li><a class="dropdown-item" href="{% url 'GamesLibrary:year-view-dt' date %}">{{date}}</a></li>
      {% endfor %}
    </ul>
</div>
<br/>
<div>
  <div align="center">
    <h2>Everything that happened in {{year}}</h2>
    <br/>
  </div>
    <table align="center" style="width:800px" >
        <colgroup span="2" class="columns"></colgroup>
        <tr>
            <td>
                <div id="container1" style="width: 120%;">
                        <canvas id="game-chart" data-url="{% url 'GamesLibrary:game-chart' year %}" width="400" height="300"></canvas>
                </div>
            </td>
            <td>
                <div id="container2" style="width: 120%; ">
                        <canvas id="time-chart" data-url="{% url 'GamesLibrary:time-chart' year %}" width="400" height="300"></canvas>
                </div>
            </td>
        </tr>
    </table>
    <table align="center" style="width:800px" >
        <tr>
            <td valign="top" align="left">
              <br/><br/><br/>
              <div class="card" style="width: 18rem;">
                <div class="card-header">
                  Summary of {{year}}
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Games finished this year: {{finished_year}}</li>
                  <li class="list-group-item">Average time per game: {{avg_year}}H</li>
                  <li class="list-group-item">Median time per game: {{med_year}}H</li>
                  <li class="list-group-item">Most time spent: {{max_year}}H
                    <p class="card-text" align="right"><small class="text-muted">{{long_game.name}}: Total play time</small></p>
                  </li>
                  <li class="list-group-item">Less time spent: {{min_year}}H
                    <p class="card-text" align="right"><small class="text-muted">{{short_game.name}}: Total play time</small></p>
                  </li>
                </ul>
              </div>
            </td>
            <td>
            <div id="container3" style="width: 150%; ">
                <canvas id="genre-pie" data-url="{% url 'GamesLibrary:genre-pie' year %}" width="500" height="400"></canvas>
            </div>
            </td>
        </tr>
    </table>
    <table align="center" style="width:800px" >
      <br/><br/>
      <tr>
        <td>
        <div class="card-group">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">First Game of {{year}}</h5>
              <p class="card-text"><img src="{{first_game.img_icon_url}}" class="card-img-top" alt="{{first_game.name}}" style="width: 32px;height:32px"> {{first_game.name}}</p>
              <p class="card-text"><strong>{{first_game.name}}</strong> was the first game you finished in {{year}}. The game was completed the <strong>{{first_game.date|date:'Y-m-d'}}</strong> and you spent <strong>{{first_game_hours}} hours and {{first_game_minutes}} minutes</strong> in the game.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Last Game of {{year}}</h5>
              <p class="card-text"><img src="{{last_game.img_icon_url}}" class="card-img-top" alt="{{last_game.name}}" style="width: 32px;height:32px"> {{last_game.name}}</p>
              <p class="card-text">The last game you finished in {{year}} was <strong>{{last_game.name}}</strong>. <strong>{{last_game_hours}} hours and {{last_game_minutes}} minutes</strong> were spent in the game and you finished it the <strong>{{last_game.date|date:'Y-m-d'}}</strong>.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Platform of {{year}}</h5>
              <p class="card-text">Most of your games were played on {{best_platform.platform}} ({{best_platform.total}} games)</p>
              <div id="container4" style="width: 150%; ">
              <canvas id="platform-pie" data-url="{% url 'GamesLibrary:platform-pie' year %}" width="230" height="200"></canvas></p>
            </div>
            </div>
          </div>
        </div>
      </td>
      </tr>
    </table>
</div>
</body>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    $(function () {

      var $gamesChart = $("#game-chart");
      $.ajax({
        url: $gamesChart.data("url"),
        success: function (data) {

          var ctx = $gamesChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Games finished',
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgb(54, 162, 235)',
                borderWidth: 1,
                data: data.data
              }]          
            },
            options: {
                legend: {
                display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                        beginAtZero: true
                        }
                        }]
                        },
              responsive: false,
              title: {
                display: true,
                text: 'Number of finished games'
              }
            }
          });

        }
      });

    });

  </script>

  <script>

    $(function () {

      var $timeChart = $("#time-chart");
      $.ajax({
        url: $timeChart.data("url"),
        success: function (data) {

          var ctx = $timeChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
                datasets: [{
                label: 'Time spent (per month)',
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgb(255, 99, 132)',
                borderWidth: 1,
                data: data.data2,
                order: 2
                }, {
                label: 'Total time spent in hours',
                data: data.data,
                type: 'line',
                fill: false,
                borderColor: 'rgb(54, 162, 235)',
                order: 1
                 }],
       labels: data.labels,
   },
            options: {
                legend: {
                display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                        beginAtZero: true
                        },
                        gridLines: {
                        display:true
                        }
                        }],
                    xAxes: [{
                        gridLines: {
                        display:true
                        }
                        }]
                        },
              responsive: false,
              title: {
                display: true,
                text: 'Time spent'
              }
            }
          });

        }
      });

    });

  </script>
  <script>

    $(function () {

      var $genrePie = $("#genre-pie");
      $.ajax({
        url: $genrePie.data("url"),
        success: function (data) {

          var ctx = $genrePie[0].getContext("2d");

          new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: data.labels,
                datasets: [{
                    label: 'Games by genre',
                    data: data.data,
                    hoverOffset: 4,
                    backgroundColor: data.bkgrnd
                }],
            },
            options: {
              responsive: false,
              title: {
                display: true,
                text: 'Games by genre'
              }
            }
          });

        }
      });

    });

  </script>
  <script>

    $(function () {

      var $platformPie = $("#platform-pie");
      $.ajax({
        url: $platformPie.data("url"),
        success: function (data) {

          var ctx = $platformPie[0].getContext("2d");

          new Chart(ctx, {
            type: 'pie',
            data: {
                labels: data.labels,
                datasets: [{
                    label: 'Games by platform',
                    data: data.data,
                    hoverOffset: 4,
                    backgroundColor: data.bkgrnd
                }],
            },
            options: {
              responsive: false,
              title: {
                display: false,
                text: 'Games by platform'
              },
              legend: {
                display: true
                },
            }
          });

        }
      });

    });

  </script>
{% endblock %}